<%- include("header") -%>

<div class="container">
    <h1 class="text-center">
      About Us
    </h1>
    <p>
        Welcome to the heart of musical passion at Astana IT University - the Music Club, where harmony meets community and rhythm becomes a way of life. Founded on the belief that music transcends boundaries and unites souls, our club stands as a testament to the diverse and vibrant musical culture thriving within the university.
    </p>
  </div>

  <%- include("footer") -%>    